flows.json
[
    {
        "id": "8d28386f645df68d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea47acb6a88295ff",
        "type": "inject",
        "z": "8d28386f645df68d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "esp32",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "5da7b1a22caf3707"
            ]
        ]
    },
    {
        "id": "48741335ef6fc3cc",
        "type": "debug",
        "z": "8d28386f645df68d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1a782b88f2646f9",
        "type": "function",
        "z": "8d28386f645df68d",
        "name": "function 1",
        "func": "msg = {\n\"payload\": {\n    \"temperature\": {\n        \"reading\": Math.floor(Math.random() * Math.floor(360 - 325) + 325)\n    }\n}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "857680c3a1fdb79e"
            ]
        ]
    },
    {
        "id": "5fb6eea4fe5e52bc",
        "type": "mqtt out",
        "z": "8d28386f645df68d",
        "name": "",
        "topic": "device/iot/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a6140216295049e7",
        "x": 900,
        "y": 20,
        "wires": []
    },
    {
        "id": "f9c7720f5c496425",
        "type": "mqtt in",
        "z": "8d28386f645df68d",
        "name": "",
        "topic": "cloud/messages",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a6140216295049e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "869ec26606d3db22",
                "4961536e779e9242"
            ]
        ]
    },
    {
        "id": "dfc55ac4529855cd",
        "type": "debug",
        "z": "8d28386f645df68d",
        "name": "cloud mess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "857680c3a1fdb79e",
        "type": "change",
        "z": "8d28386f645df68d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 80,
        "wires": [
            [
                "5fb6eea4fe5e52bc",
                "48741335ef6fc3cc",
                "8cbb6fc29ce58b2c"
            ]
        ]
    },
    {
        "id": "5da7b1a22caf3707",
        "type": "trigger",
        "z": "8d28386f645df68d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "d1a782b88f2646f9"
            ]
        ]
    },
    {
        "id": "869ec26606d3db22",
        "type": "change",
        "z": "8d28386f645df68d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "5da7b1a22caf3707"
            ]
        ]
    },
    {
        "id": "b0e1d9cc23236f7d",
        "type": "ui_gauge",
        "z": "8d28386f645df68d",
        "name": "",
        "group": "19770c73b1012a16",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "Degree",
        "format": "{{value}}",
        "min": "300",
        "max": "375",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "325",
        "seg2": "350",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "8cbb6fc29ce58b2c",
        "type": "change",
        "z": "8d28386f645df68d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.reading",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 80,
        "wires": [
            [
                "b0e1d9cc23236f7d"
            ]
        ]
    },
    {
        "id": "92067dc497f47c3f",
        "type": "ui_button",
        "z": "8d28386f645df68d",
        "name": "",
        "group": "19770c73b1012a16",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "5da7b1a22caf3707"
            ]
        ]
    },
    {
        "id": "5c8feecb9218af2f",
        "type": "ui_button",
        "z": "8d28386f645df68d",
        "name": "",
        "group": "19770c73b1012a16",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "869ec26606d3db22"
            ]
        ]
    },
    {
        "id": "4961536e779e9242",
        "type": "json",
        "z": "8d28386f645df68d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "33be85b5d3c2c4b9"
            ]
        ]
    },
    {
        "id": "33be85b5d3c2c4b9",
        "type": "function",
        "z": "8d28386f645df68d",
        "name": "function 2",
        "func": "msg = {\n    \"payload\": {\n        \"message\": msg.payload.reading + \" is too hot!\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "dfc55ac4529855cd",
                "2829165de11dcaf5"
            ]
        ]
    },
    {
        "id": "df07f4f2486bad70",
        "type": "ui_toast",
        "z": "8d28386f645df68d",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "2829165de11dcaf5",
        "type": "change",
        "z": "8d28386f645df68d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "df07f4f2486bad70"
            ]
        ]
    },
    {
        "id": "a6140216295049e7",
        "type": "mqtt-broker",
        "name": "aws-iot",
        "broker": "agqvetbeoud3l-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "fee802b30dafba41",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "19770c73b1012a16",
        "type": "ui_group",
        "name": "Default",
        "tab": "9cba37418cdd491f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fee802b30dafba41",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "certificate.crt",
        "keyname": "private key.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9cba37418cdd491f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]